body{

  background: radial-gradient(circle, #87CEEB, #4682B4);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.container {
  width: 550px;
}

.heading {
  display: grid;
  grid-template-columns: 300px 150px 100px;
  row-gap: 10px;
  
}

.input{
  margin-right: 10px;
  font-size: 15px;
  padding-left: 5px;
}

.input-date{
  margin-right: 10px;
  font-size: 16px;
  padding-left: 5px;
}

.add-btn{
  height: 40px;
  width: 100px;
  font-size: 15px;
  background-color: rgb(16, 179, 16);
  color: white;
  border: none;
}

.show{
  display: grid;
  grid-template-columns: 300px 150px 100px;
  row-gap: 10px;
}

.show-todo{
  overflow: hidden;
  margin-right: 10px;
}
.show-date{
  text-align: center;
}
.remove-btn{
  height: 40px;
  width: 100px;
  font-size: 15px;
  background-color: rgb(188, 34, 0);
  color: white;
  border: none;
}
