body{
  text-align: center;
  background: radial-gradient(circle, purple, rgb(24, 7, 22));
  height: 100vh;
  margin: 0;
  color: white;
  background-image: url(b5.png);
  background-size: cover;
  background-position: center;
 
}

.box {
background-color: rgb(27, 27, 27);
height: 20vmin;
width: 20vmin;
border-radius: 5%;
cursor: pointer;
transition: box-shadow 0.3s ease-in-out;
font-size: 15vmin;
color: white;

}
.box:hover {
box-shadow: 0 0 15px #ffffff;

}

.restart {
  height: 60px;
  background-color: rgb(27, 27, 27);
  color: white;
  width: 120px;
  font-size: 20px;
  border-radius: 20%;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.container{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game{

height: 60vmin;
width: 60vmin;
gap: 5px;
display: flex;
display: grid;
grid-template-columns: repeat(3,auto);
justify-content: center;
align-items: center;
}
