body{
  text-align: center;
  color: white;
  background: radial-gradient(circle, #333, black);
 
}

.box {
background-color: rgb(27, 27, 27);
height: 20vmin;
width: 20vmin;
border-radius: 5%;
cursor: pointer;
transition: box-shadow 0.3s ease-in-out;

}
.box:hover {
box-shadow: 0 0 15px #ffffff;

}

.container{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game{

height: 60vmin;
width: 60vmin;
gap: 5px;
display: flex;
display: grid;
grid-template-columns: repeat(3,auto);
justify-content: center;
align-items: center;
}
