body{
  background: radial-gradient(circle, #87CEEB, #4682B4);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#wallet-tracker{
  color: black;
  font-weight: bold;
  display: inline-block;

}

#top-para{
  font-weight: bold;
}

#top-container{
  display: flex;
  align-items: center;
}

#balance{
  background-color: rgb(210, 210, 210);
  color: black;
  font-weight: bold;
  box-shadow: 1px 1px 5px rgb(10, 10, 10);
  margin-left: 50px;
  height: 200px;
  width: 450px;
  border-radius: 20px;

}

#type-container{
  display: flex;
  text-align: left;
  align-items: baseline;
  border-radius: 20px 20px 0 0;
  height: 50px;

}

#entry-type{
  display: inline-block;
  margin-right: 20px;
  margin-left: 40px;
}
#type{
  display: inline-block;
  height: 40px;
  width: 200px;
  border-radius: 30px;
  border: none;
  background-color:rgb(251, 26, 26);
  padding-left: 10px;
  font-size: large;
}

#name-container{
  height: 50px;
  display: flex;
  text-align: left;
  align-items: baseline;
  border-radius: 20px 20px 0 0;
}


#date-container{
  display: flex;
  text-align: left;
  align-items: baseline;
  border-radius: 20px 20px 0 0;
  padding-bottom: 20px;

}

#text{
  display: inline-block;
  margin-left: 20px;
  margin-right: 10px;
}

#date-name{
  display: inline-block;
  margin-left: 60px;
  margin-right: 60px;
}

#inputName{
  border-radius: 10px;
  height: 40px;
  width: 250px;
  border: none;
  font-size: large;
  padding-left: 10px;
}

#inputDate{
  border-radius: 10px;
  height: 40px;
  border: none;
  font-size: large;
  padding-left: 10px;

  
}

#bottom-container{
  margin-top: 50px;
  display: flex;
  align-items:baseline;
  height: 300px;
}

#add-new1{

  height: 200px;
  width: 200px;
  margin-left: 90px;
  color: rgb(251, 26, 26);
  background-color: rgb(237, 237, 237);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px rgb(10, 10, 10);


}

#expense, #total{
  font-size: 40px;
}
#onhand{
  font-size: 50px;
}

#add-new2{

  height: 200px;
  width: 200px;
  margin-left: 30px;
  color: #44d41d;
  background-color: rgb(237, 237, 237);
  border-radius: 100px;
  box-shadow: 1px 1px 5px rgb(10, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;

}

#add-new3{

  height: 200px;
  width: 300px;
  margin-left: 30px;
  color: black;
  background-color: rgb(237, 237, 237);
  border-radius: 100px;
  box-shadow: 1px 1px 5px rgb(10, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;

}



.remove-btn{
  height: 30px;
  font-size: 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
}

.reset{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 15px;
  background-color: #1D99F3;
  border: none;
}


#exp-list{
  width: 760px;
  margin-left: 70px;
  background-color: white;
  box-shadow: 1px 1px 5px rgb(10, 10, 10);
  border-radius: 20px;
}

#date-total{
  width: 450px;
  margin-left: 50px;
  background-color: white;
  box-shadow: 1px 1px 5px rgb(10, 10, 10);
  border-radius: 20px;
}

#add-new{
  box-shadow: 1px 1px 5px rgb(10, 10, 10);
  border-radius: 20px;

} 



#list-head{

  grid-template-columns: 150px 200px 200px 100px 100px;
  background-color:#1D99F3;
  display: grid;
  height: 50px;
  align-items: center;
  border-radius:20px 20px 0 0;
  font-weight: bold;
  padding-left: 10px;
}

#list-feet{

  grid-template-columns: 150px 200px 200px 100px 100px;
  background-color:#1D99F3;
  display: grid;
  height: 10px;
  align-items: center;
  font-weight: bold;
  border-radius:0 0 5px 5px;


  padding-left: 10px;
}

#date-head{
  background-color: #1D99F3;
  display: grid;
  height: 50px;
  align-items: center;
  grid-template-columns: 150px 150px 150px;
  padding-left: 10px;
  border-radius:20px 20px 0 0;
  font-weight: bold;

}

#date-feet{
  background-color:#1D99F3;
  display: grid;
  height: 10px;
  align-items: center;
  grid-template-columns: 150px 150px 150px;
  padding-left: 10px;
  border-radius:0 0 5px 5px;
  font-weight: bold;

}

#date-lh, #name-lh, #amount-lh, #type-lh, #remove-lh{
  height: 35px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  text-align: left;
}

#date-lb, #name-lb, #amount-lb, #type-lb, #remove-lb{
  height: 35px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  text-align: left;
}

#list-body{
  background-color: rgb(210, 210, 210);
  display: grid;
  grid-template-columns: 150px 200px 200px 100px 100px;
}


#date-dh, #expense-dh, #income-dh{
  height: 35px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  text-align: left;
}


#date-db, #expense-db, #income-db{
  height: 35px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  text-align: left;
}

#date-body{
  background-color: rgb(210, 210, 210);
  display: grid;
  grid-template-columns: 150px 150px 150px;
}
